.user {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 20px;
}

.user img {
 height: 100%;
 max-height: 60px;
  aspect-ratio: 1/1;
  align-self: flex-start;
}

.user button {
  padding: 5px;
}
