

nav a.navbar-brand img {
  max-width: 100px;
}

nav .navbar-collapse li {
  position: relative;
}
nav .navbar-collapse li a {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .navbar-collapse li a ion-icon {
  transition-duration: 0.2s;
}

nav .navbar-collapse li a:hover ion-icon {
  transform: rotate(180deg);
}

nav .dropdown__hover {
  width: 100%;
  height: 0px;

  position: absolute;
  top: 50px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: white;
  overflow: hidden;
  
  z-index: 2;
  
  padding-block: 0px;
  padding-inline: 10px;
  
  transition: 0.3s;
}

.carousel .carousel-indicators button {
  width: 20px;
  height: 20px;

  border-radius: 50%;
}
/* position absolute, translateY, height */

nav .navbar-collapse li:hover .dropdown__hover {
  /* transform: translateY(50px) */
  height: 400%;
  padding-block: 10px;
}

/* CARD - LAYOUT + HOVER */
.movie__wrap {
  transition: 0.2s;
  transition-delay: 0.2s;
  cursor: pointer;
}

.movie__wrap:hover {
  transform: scale(1.5);
  border-radius: 10px;
}

.movie__wrap img {
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: top;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.movie__wrap img,
.movie__wrap .badge {
  z-index: -1;
}

.movie__wrap .movie__details {
  height: 0px;
  opacity: 0;
  transition: 0.2s;
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
  top: 100%;
  z-index: 2;
  background-color: black;
  color: white;
  padding: 10px;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.movie__wrap:hover .movie__details {
  height: unset;
  opacity: 1;
}

.movie__wrap .movie__details p {
  color: rgb(255, 255, 255, 0.6);
  font-weight: bold;
}

/* CARD - BUTTONS */
.movie__wrap .movie__controls .movie__play {
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  width: 25%;
  font-size: 25px;
  padding-inline-start: 10px;
  border: none;
}

.movie__wrap .movie__controls h4 {
  width: 40%;
  font-size: 13px;
}

.movie__wrap p,
.movie__wrap h3 {
  font-size: 13px;
}

.movie__wrap p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.movie__wrap .movie__details .badge {
  background-color: rgb(255, 255, 255, 0.3);
  font-size: 13px;
  /* border-radius: 5px;
  padding-inline: 5px; */
  /* font-weight: bold; */
}

.movie__wrap .movie__controls .movie__options button {
  aspect-ratio: 1/1;
  width: 50%;
  border-radius: 50%;
  font-size: 13px;
  background-color: rgb(255, 255, 255, 0.3);
  color: white;
  border: none;
}

.movie__wrap .movie__controls button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* carosello */
.carousel-inner {
  overflow: visible;
}

@media screen and (max-width: 576px) {
  .movie__wrap:hover {
    transform: scale(1.1);
  }

  /* if specificity >= specificity originale */
  .movie__wrap .movie__details {
    padding: 20px;
  }

  .movie__wrap .movie__details .movie__play {
    max-width: 50px;
  }
}
